/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
label {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

.container {
    margin: 30px auto;
    max-width: 876px;
}

/* Tablet/Mobile */
@media (max-width: 800px) {
    .container {
        margin: 30px auto;
        max-width: 730px;
    }
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Tablet/Mobile */
@media(max-width: 800px) {
    header {
        display: flex;
        flex-direction: column-reverse;
    }
}

nav {
    width: 70%;
    display: flex;
    justify-content: space-between;
}

/* Tablet */
@media(max-width: 800px) {
    nav {
        width: 100%;
        justify-content: space-between;
        padding: 0 10px;
    }
}

/* Mobile */
@media(max-width: 500px) {
    nav {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0;
    }
}

header nav a {
    color: lightgray;
    text-decoration: none;
}

/* Mobile Navigation Items */
@media(max-width: 500px) {
    header nav a:first-of-type {
        border-top: 1px solid black;
    }

    header nav a {
        border-bottom: 1px solid black;
        padding: 20px 0;
    }
}

/* Tablet Logo */
@media(max-width: 800px) {
    .logo {
        margin-bottom: 40px;
    }
}

/* Mobile Log o */
@media(max-width: 500px) {
    .logo {
        margin-bottom: 20px;
    }
}


.home-content {
    margin: 80px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

/* Tablet */
@media(max-width: 800px) {
    .home-content {
        display: block;
        margin: 80px auto;
    }
}

/* Mobile */
@media(max-width: 500px) {
    .home-content {
        margin: 40px 0 60px 0;
    }
}


.home-content div {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.home-content div h1 {
    font-size: 90px;
    text-align: center;
    margin: 0 auto;
}

/* Mobile */
@media(max-width: 500px) {
    .home-content div h1 {
        font-size: 60px;
        text-align: center;
        margin: 0 auto;
    }
}

.home-content div button {
    margin: 20px auto 0;
    background: white;
    border: 1px solid black;
    height: 35px;
    width: 200px;
}

.home-content img {
    padding-left: 50px;
}

/* Tablet */
@media (max-width: 800px) {
    .home-content img {
        display: none;
    }
}

.main-content {
    padding: 40px 0;
}

/* Tablet */
@media(min-width: 700px) {
    .main-content {
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }
}

/* Mobile */
@media(max-width: 500px) {
    .main-content {
        padding: 0px;
    }
}

.primary-content-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

/* Tablet */
@media (max-width: 800px) {
    .primary-content-top {
        padding: 0 15px;
    }
}

/* Moible */
@media (max-width: 500px) {
    .primary-content-top {
        display: flex;
        flex-direction: column;
    }
}

/* Mobile */
@media(max-width: 500px) {
    .primary-content-top div {
        padding: 20px 0;
    }

    .primary-content-top div:first-of-type {
        padding-top: 50px;
        border-top: 1px solid black;
    }

}

.middle-img {
    padding: 30px 0;
}

/* Mobile */
@media(max-width: 500px) {
    .middle-img {
        padding: 20px 15px;
        max-width: 100%;
    }
}


.primary-content-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Tablet */
@media (max-width: 800px) {
    .primary-content-bottom div {
        margin: 0 15px;
    }
}

/* Mobile */
@media (max-width: 500px) {
    .primary-content-bottom {
        display: flex;
        flex-direction: column;
    }
}

.primary-content-bottom div {
    width: 290px;
}

/* Mobile */
@media(max-width: 500px) {
    .primary-content-bottom div {
        width: 100%;
    }
}

/* Mobile */
@media (max-width: 500px) {
    .primary-content-bottom div {
        margin: 0;
        padding: 0 15px 60px 15px;
    }

    .primary-content-bottom div:last-child {
        padding: 0 15px 30px 15px;
        /* TRBL */
    }
}

.contact {
    padding: 40px 0;
}


.contact address {
    width: 200px;
}

.contact address span {
    display: block;
    margin-top: 20px;
}

.copyright {
    padding: 80px 0;
    text-align: center;
}

/* Tablet */
@media (max-width: 800px) {
    .copyright {
        padding: 40px 0 0 0;
        text-align: center;
    }
}

/* Mobile */
@media (max-width: 500px) {
    .copyright {
        padding-top: 40px;
        text-align: center;
    }
}

.services-header-img {
    padding: 30px 0;
}

.services-heading {
    font-size: 30px;
}

.main-services {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 30px 0;
    padding: 20px 0;
}


.main-services {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.box {
    font-size: 16px;
    background: #f4f3f4;
    border: 1px solid black;
    width: 425px;
    height: 235px;
    margin: 13px 0;
    padding: 25px;
}

.box button,
.contact-form button {
    margin: 15px 0;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #000;
    background: white;
    transition: 0.3s;
}

.services-list {
    list-style-type: square;
    padding: 20px
}

.services-secondary p {
    padding-right: 60px;
}

.services-list li {
    padding: 5px 0;
}

.services-secondary {
    display: flex;
    width: 100%;
}

.main-contact h1 {
    text-align: center;
    font-size: 40px;
    margin: 60px 0;
}

.contact {
    padding: 0 15px;
}

.contact h2 {
    padding: 30px 0 0 0;
}

/* Tablet */
@media(max-width: 800px) {
    .contact h2 {
        padding: 30px 0 0 0;
    }
}

/* Mobile */
@media(max-width: 500px) {
    .contact h2 {
        border-top: 1px solid black;
        padding: 30px 0 0 0;
    }
}

.contact-form {
    display: flex;
    justify-content: center;
}

.contact-form input,
.contact-form textarea {
    display: block;
    margin: 10px 0;
    width: 600px;
}

.contact-form input,
.contact-form textarea {
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
    background: #f4f3f4;
    outline: none;
}

.contact-form button:hover {
    background: #f4f3f4;
    transition: 0.3s;
    outline: none;
}
